@charset "UTF-8";

header {
    padding: 30px 4%;
    background-image: linear-gradient(-120deg, hsla(225, 30%, 28%, 0.801), rgb(28, 53, 131, 0.801), rgb(189, 196, 216, 0.801));
    background-attachment: fixed;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.568);
  }
  
  header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .15s;
    font-size: 17px;
    padding: 0 5px;
  }
  
  header nav.menu-desktop a:hover {
    color: azure;
    transform: scale(1.05);
  }
  
  header nav ul {
    list-style-type: none;
    background-color: #21409c;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 0px 0px 8px #162961cb;
  }
  
  header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0px 40px;
  }
  
  header .logo img {
    width: 80px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #21409c;
  }

  .contato button {
    color: white;
    padding: 10px 40px;
    font-size: 17.5px;
    font-weight: 500;
    background-color: #21409c;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    transition: .15s;
    box-shadow: 0px 0px 8px #162961cb;
  }
  
  .contato button:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.04);
  }